body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #24232b;
    text-align: center;
}

header {
    background-color: #24232b;
    color: #fff;
    padding: 1rem 20px;
    margin: 10px 10px 20px 10px;
    text-align: left;
    border-radius: 20px;
    box-shadow: #0b024530 0px 4px 8px ;
    transition: 0.3s ease-in-out;
}

header:hover {
    box-shadow: #0b0245 0px 0px 12px ;
    transition: box-shadow 0.3s ease-in-out;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-section {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

/* boutun avec effet glassmorphism (transparence)*/
button {
    background-color: #0084ff;
    box-shadow: #0b024530 0px 4px 8px ;
    border: #24232b 3px solid;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: #0b024568 0px 4px 8px ;
}

button:active {
    background-color: #003cb3;
    transform: scale(0.95);
}

#message {
    margin-top: 15px;
    font-weight: bold;
    color: #f39d07;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
}

/* Styles pour Bootstrap si décommenté dans l'HTML */
/*
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}
*/